<div class="articles-page">
    <article>

        <h2>Article</h2>
        
        <div>
            <figure class="article-cards">
               <img src="./img/mark_manson.JPG" alt="therealvalueofmoney"/>
                <!--<a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400">-->
               <figcaption>October 5, 2017 | by Mark Manson</figcaption>
            </figure>
            <text>
<p><strong>THE REAL VALUE OF MONEY</strong></p>
<p>One summer afternoon, a group of recent college graduates decided to visit their favorite professor at his home. The grads had been out of school for about a year and they were each making their foray into the quote-unquote “real world” and dealing with all of the frustrations and confusion that come with it.

Over the course of the afternoon, the grads complained to their professor about how difficult life was after school. They complained about the long hours, the demanding bosses, the competitive job market, and how all anybody seemed to talk about or care about was money, money, money.

After a while, the professor got up and made some coffee. He got out six cups, one for each student. Three of them were cheap disposable cups and the other three were made of his nicest porcelain. He then invited everyone to get up and help themselves.

Within seconds the bargaining had already begun. “Wait, why do you get that cup?” “No, let me have it, I drove here.” “No way, I got here first, go get your own.” The students laughed and gently chided each other over who got to drink what out of what. A silent competition among friends.

When the kids finally sat back down the professor smiled and said, “You see? This is your problem. You are all arguing over who gets to drink out of the nice cups when all you really wanted was the coffee.”

Money is a touchy subject. That’s because most of us, to a certain degree, associate a lot of our self-worth and identity to our job and how much money we make. It is, quite literally, a market valuation of our skills and competence as a person, and therefore we all get a little bit testy and scooch around uncomfortably in our chairs whenever money is brought up.

But money is merely an arbitrary store of value. It is not value itself.</p>
<p><strong>October 5, 20176 minute readby Mark Manson</strong></p>    
<p><a href="https://markmanson.net/the-real-value-of-money" style="color:darkblue;" alt="https://markmanson.net/the-real-value-of-money"></a></p>       
</text>
        </div>

        <br><hr><br>

        <div>
            <figure class="article-cards">
                <img src="./img/gm-foods-main.jpg" alt="gm-foods-main"/>
               <!-- <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400">-->
                <figcaption>By Stevie Shephard - Science writer</figcaption>
            </figure>
            <text>
<h4>What is GMO food?</h4>    
<p>Genetically modified food raises lots of questions, from whether it’s safe to the environmental benefits. Science writer Stevie Shephard delves behind the headlines with a beginner’s guide.</p>

<p>You’ve probably heard about genetically modified organisms (GMOs) – also known as genetically engineered foods or just ‘GM’ – and you might be wondering what all the fuss is about. Here, we explain the basics.</p>

<p><strong>What are GMOs?</strong></p>
<p>‘GMO’ refers to any living thing that’s had its DNA altered using genetic engineering. This could be a plant, animal (including humans) or bacterium and it’s usually done to introduce a desirable trait into the organism, such as larger fruit or drought resistance. 

You'll often see discussion of GM foods accompanied by images of fruit and veg with scary-looking syringes stuck in them (presumably by evil scientists), but these bear little resemblance to reality.

Humans have actually been performing a low-tech version of the GM process for thousands of years through selective breeding. Ancient farmers did it with maize (that’s sweetcorn to us), and transformed a tough, indigestible grain into the juicy yellow kernels we know today.

Whole sweetcorn cobs laid on chopping board
Genetic engineering allows us to directly alter the DNA of organisms without having to go through the process of breeding them over many generations. The gene for a desirable trait is isolated from a separate organism and inserted into the target, either manually or by attaching it to a (harmless) virus. GMOs can be used to treat disease, protect the environment and, of course, produce food.</p>

<p><strong>Are GM foods bad?</strong></p>
<p>Well, it’s complicated. Despite what many people might claim, there is no evidence that GMOs are bad for you to eat, use, touch, rub into your skin or feed to your children. 

In short, there is little difference between altering DNA through selective breeding and altering it through genetic engineering, and your body can’t tell the difference between GM and non-GM foods. 

Genetic engineering can actually be used to increase the nutrient density in food. The now famous “Golden Rice Project” is a good example. Food scientists modified ordinary rice to be rich in vitamin A and this is now grown in areas where vitamin A deficiency is a major cause of child mortality and blindness.

Different kinds of rice in bowls
Crops can also be modified to produce higher yields and grow in drought-stricken areas. As well as being generally good for business, these modifications could also go a long way to alleviating famine and hunger around the world.

But that’s not the whole story – and one of the reasons is pesticide. Some GM crops are altered to be resistant to certain pesticides, which could increase pesticide use on them. Alternatively, some are made to produce their own bug-repelling properties, actually reducing the need for additional pesticides.

Both approaches end up killing “pests” – some of which are actually vital pollinators – however this also happens with conventional, non-GMO crops and is one of the realities of intensive farming.

On balance, it could be argued the global benefits of GM crops currently outweigh the risks, at least according to a peer-reviewed 2014 analysis into the impact of GM crops, published in the science journal PLOS One.</p>

<p><strong>So what’s the problem?</strong></p>
<p>While the health issues may have been over-emphasised by the media, there are still plenty of reasons why GMOs are controversial.

One major problem is the fact that a crop can become the intellectual property of a private company. Traditionally, farmers save some of the seeds from their current crop to plant for next year’s harvest.

But when a company owns the rights to a GM crop, they can (and do) forbid farmers from doing this, forcing them to purchase new seed from the patent owners every year. Even if a farmer doesn’t grow GM crops, they can blow in from neighbouring fields, making it necessary to purchase a licence for them – or face heavy fines. GM critics say that this gives large corporations too much control over agriculture and the power to exploit farmers.

There also remain a handful of scientists who still have concerns about ‘unknown’ long-term implications. Anti-GM cellular biologist Dr David Williams says that a genome is not a static environment and claims “inserted genes can be transformed by several different means [which] can happen generations later”. Talking to the journal Scientific American, he argues that potentially toxic plants could therefore slip through testing in future.

Even if most experts support GM technology, some critics argue that scientists could be afraid to challenge the majority and publish anti-GM studies, because they would face attacks on their reputations and receive less funding for their research. 

Whether or not that’s true, it doesn’t change the fact that almost all anti-GM studies to date have been discredited or retracted – debunked by the scientific community for using misleading, unscientific methods.</p>

<p><strong>What’s in a name?</strong></p>

<p>The term 'GMO' doesn’t mean a lot in itself. It’s basically a blanket term for any organism that has had its genes altered. As such, the upsides and downsides of GMOs are not as simple as healthy or unhealthy, good or bad.  

There’s much more to say about the potential of GM technology. But as a consumer, it’s worth noting that currently approved GM foods are likely to be indistinguishable from non-GM produce; they may even be cheaper, tastier or more nutritious. The politics of GMOs, however, are still in their infancy.

Ultimately, it’s down to personal, informed choice. Get the facts and be wary of anyone trying to scare you about what’s in your food – they may just be trying to sell you an alternative. A good way to avoid being swayed by the pro- or anti-GMO lobbies is to get the facts from independent projects such as the Genetic Literacy Project.</p>
<p><strong>By Stevie Shephard - Science writer </strong></p>    
<p><a href="https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10#a-more-mobile-talent-market-will-mean-less-homogeneity-in-countries-like-china-and-japan-9" style="color:darkblue;" alt="https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10#a-more-mobile-talent-market-will-mean-less-homogeneity-in-countries-like-china-and-japan-9"></a></p>   
</text>
        </div>
        
        <br><hr><br>
               
        <div>
            <figure class="article-cards">
                <img src="./img/2100.jpg" alt="2100"/>
               <!-- <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400">-->
               <figcaption>A futuristic illustration based on Manhattan<br> http://www.flickr.com/photos/evrtstudio/4322880709/</figcaption>
            </figure>
            <text>
<h4>THE WORLD IN 2100: Ten Billion People, No Oil And Not Enough Food</h4>
<p>With global population set to reach seven billion people over the weekend, it may be time to start planning for what the world will look like in the coming years.
Though most of us won't be around to see it, the United Nations has projected that our incredible population growth will level off at around 10 billion people by the year 2100.
Already, at less than seven billion, we are experiencing severe poverty, hunger, a shortage of resources, increased urbanization and climate change issues.
Will we be doomed by 2100, or can we make it work? Since we've only got one planet (so far), let's hope for the latter.</p>
<p><strong>By 2100, 80 percent of the world's populations will live in cities</strong></p>
<p>Increased urbanization will be one of the main waysthe planet will sustain 10 billion people. There will be a lot of new cities, and mega-cities (cities with a population of over 20 million) will become more common.
Possible candidates for mega-city status include: Beijing, Delhi, Jakarta, Mexico City, Mumbai, São Paulo, and Shanghai.</p>
<p><strong>The world will have a few hundred languages at the most</strong></p>
<p>Right now, there are over 7,000 languages spoken. But lesser used languages will fall by the wayside, while English will become the most used form of communication around the world.
</p><p><strong>22.3 percent of people will be at least 65 years old</strong></p>
<p>That will be a huge increase, up from 7.6 percent in 2010.
The burden on the youth to carry the old will be greater than ever.
Most of the population growth will come from the developing world, especially Africa.</p>
<p><strong>Africa's population will go from one billion in 2010 to 3.6 billion in 2100</strong></p>
<p>The demographic shift, and subsequent geopolitical shift, will be momentous, when there are "five sub-Saharan Africans for every European."
Other regions will see slower growth. For example, the U.S. population will rise from today's 311 million to 478 million.</p>
<p><strong>Global life expectancy will be around 81 years</strong></p>
<p>Nowadays, our life expectancy is at 68 years.
The UN report does not, however, include the possibilities of improvements in life expectancy from "research in genetic engineering, nanomedicine, exponentially increasing intelligence." It also doesn't consider risks such as alien invasion or pandemics in its projections.</p>

<p><strong>An increasing population will see a food shortage — thanks to global warming</strong></p>
<p>We already have 925 million hungry people worldwide. An increase in population will add to that number, and global warming may hinder our ability to fight the problem.
Rising temperatures worldwide "shorten the growing season in the tropics and subtropics, increase the risk of drought, and reduce the harvests of dietary staples such as rice and maize by 20 percent to 40 percent." That means hundreds of millions of people will have to look elsewhere when traditional sources of food dry up.</p>

<p><strong>The world's coral reefs, and the delicate ecosystems they house, could disintegrate</strong></p>

<p>Carbon dioxide is expected to reach a level of 560 parts per million by the end of the century, resulting in the destruction of over 9,000 coral reefs worldwide.
Besides being nice to look at, reefs are home to thousands of species of fish and are the feeding and spawning grounds of countless other animals.
The ability of coral reefs to regenerate is compromised when water acidity levels and temperature are too high.</p>

<p><strong>Use of oil, natural gas and coal will drop to almost zero</strong></p>

<p>These finite sources of energy will eventually become extinct, especially at our rate of consumption. Some tables have oil use declining at five percent a year after 2040. Gas is expected to decline even faster.
Hydro energy and renewable energy (such as wind and solar power) are expected to see continued increasing use, and should become our primary sources of power by 2100 and beyond.</p>

<p><strong>A more mobile talent market will mean less homogeneity in countries like China and Japan</strong></p>

<p>An increasingly globalized world will mean more and more people taking their talents abroad, crossing borders to find better opportunities.Diversity will become more common in countries that now have general ethnic homogeneity, as Americans travel to Asia and an even bigger melting pot in Europe.
Countries and cities that don't go after global talent will fall behind.</p>

<p><strong>There might be up to five billion more of us — or a billion fewer</strong></p>

<p>The UN report that predicts 10 billion people by 2100 also had two alternate, though less likely, scenarios: there could be as many as 15.8 billion people, or as few as 6.2 billion.
While 6.2 billion would be manageable, 15.8 could be "a danger" to the planet.
We would need to take drastic steps to control population levels if we were to survive. 10 billion may be too much of a strain as it is.</p>
<p><strong>Eric Goldschein and Robert Johnson Oct. 29, 2011, 7:09 AM</strong></p>
<p><a href="https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10#a-more-mobile-talent-market-will-mean-less-homogeneity-in-countries-like-china-and-japan-9" style="color:darkblue;"alt="https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10#a-more-mobile-talent-market-will-mean-less-homogeneity-in-countries-like-china-and-japan-9"></a></p>
</text>
        </div>
    </article>
</div>
