<div class="portfolio-page">
    <portfolio>

        <h2>Portfolio</h2>

        <div class="portfolio-page">
            <figure class="portfolio-cards">
                <img src="./img/star_wars.JPG" alt="Star Wars" />
                <!--<a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400"></a>-->
                <figcaption>Millennium Falcon | Star Wars | 2018</figcaption>
            </figure>
            <figure class="portfolio-cards">
                <img src="./img/star_wars.JPG" alt="Star Wars" />
                <!--<a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400"></a>-->
                <figcaption>Millennium Falcon | Star Wars | 2018</figcaption>
            </figure>
            <figure class="portfolio-cards">
                <img src="./img/star_wars.JPG" alt="Star Wars" />
                <!--<a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400"></a>-->
                <figcaption>Millennium Falcon | Star Wars | 2018</figcaption>
            </figure>

            <figure class="portfolio-cards">
                <img src="./img/star_wars.JPG" alt="Star Wars" />
                <!--<a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400"></a>-->
                <figcaption>Millennium Falcon | Star Wars | 2018</figcaption>
            </figure>
            <figure class="portfolio-cards">
                <img src="./img/star_wars.JPG" alt="Star Wars" />
                <!--<a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400"></a>-->
                <figcaption>Millennium Falcon | Star Wars | 2018</figcaption>
            </figure>
            <figure class="portfolio-cards">
                <img src="./img/star_wars.JPG" alt="Star Wars" />
                <!--<a href="https://placeholder.com"><img src="http://via.placeholder.com/400x400"></a>-->
                <figcaption>Millennium Falcon | Star Wars | 2018</figcaption>
            </figure>
        </div>

    </portfolio>
</div>
